<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title>PEwiki2 — Вибір істоти</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=1.0">
</head>
<body autocomplete="off">

<article class="creature-card">
  <header class="header-group">
    <h1>Оберіть Персонажа</h1>
  </header>

  <section class="stage-selector-group">
    <ul>
      <li><a href="/stegosaurus" class="desc-toggle-btn" style="font-size: 1.1em;">Stegosaurus</a></li>
      <li><a href="/bistahieversor" class="desc-toggle-btn" style="font-size: 1.1em;">Bistahieversor</a></li>
      <li><a href="/dacentrurus" class="desc-toggle-btn" style="font-size: 1.1em;">Dacentrurus</a></li>
      <li><a href="/allosaurus" class="desc-toggle-btn" style="font-size: 1.1em;">Allosaurus</a></li>
      <li><a href="/iguanodon" class="desc-toggle-btn" style="font-size: 1.1em;">Iguanodon</a></li>
    </ul>
  </section>
</article>

</body>
</html>